{
	AllowedTypes = (
		"public.objective-c-source",
		"public.objective-c-plus-plus-source",
	);
	"DefaultCompletionName" = Singleton;
	Description = "An Objective-C Singleton class file, with an optional header which includes the <Foundation/Foundation.h> header.";
	Kind = "Xcode.IDEKit.TextSubstitutionFileTemplateKind";
	MainTemplateFile = "___FILEBASENAME___.m";
	SortOrder = 1;
	Summary = "An Objective-C class with a header";
}