{
	AllowedTypes = (
		"public.objective-c-source",
		"public.objective-c-plus-plus-source",
	);
	"DefaultCompletionName" = MyView;
	Description = "An Objective-C csubclass of UIView, with an optional header file which includes the <UIKit/UIKit.h> header.";
	Kind = "Xcode.IDEKit.TextSubstitutionFileTemplateKind";
	MainTemplateFile = "___FILEBASENAME___.m";
	Platforms = (
		"com.apple.platform.iphoneos",
	);
	SortOrder = 1;
	Summary = "A UIView subclass with a header";
}